@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <nav class="navbar navbar-expand-lg navbar-light"
             style="background-color: #faeaea;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-left: 0px;
                    padding-right: 0px; ">
            <NavMenu />
        </nav>

        <div class="content px-4" style="padding-top: 2px;">
            @Body
        </div>
    </div>
</div>
